doctype html

html(lang='en')
  head
    title="Веб-приложение"
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/styles/main.css")
    script(src="/scripts/script.js" type="text/javascript")
  body
    .app
      include header.pug

      section.section
        .container
          .section__title
            | Используемые колонки
          .columns
            .column
              span Индекс
              span Название
              span Описание
            each column, index in columns
              .column
                span #{index+1}.
                span #{column.title}
                span #{column.description}
                button(class="button" onclick='deleteColumn("'+ column.id +'")') Удалить

    script(src="/scripts/script.js" type="text/javascript")